*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Default: Dark Mode */
body {
  background-color: black;
  color: white;
}

/* Light Mode Styles */
body.light-mode {
  background-color: #f5f5f5;
  color: #222;
}

body.light-mode .navbar {
  background-color: #ffffff !important;
}

body.light-mode .nav-link {
  color: black !important;
  text-shadow: none;
}

/* Optional hover effect */
body.light-mode .nav-link:hover {
  color: #ec1123 !important; /* or any accent color you prefer */
}

body.light-mode .dropdown-menu {
  background-color: rgba(255, 255, 255, 0.9);
}

body.light-mode .dropdown-item {
  color: #000000;
  text-shadow: 2px 2px 2px rgb(194, 178, 178);

}

body.light-mode .food-menu {
  border-color: #222;
}

body.light-mode .food-menu-head {
  color: #000000;
}

body.light-mode .item2::after{
    text-shadow: 2px 2px 2px black;
}

body.light-mode .bot-message {
  color: #ec1123;
  text-shadow: none;
  border-right-color: #ec1123;
}

body.light-mode .navbar-brand {
  border-color: #444;
}

body.light-mode .toggle-button{
    border-color: #444;
    background: black;
    color: rgb(255, 255, 255);
}

body.light-mode .recongnitions{
    display: flex;
    justify-content: center;
    height: 150px;
    background: linear-gradient(to right, rgb(180, 170, 170),rgb(255, 255, 255));
}

body.light-mode footer{
    background: linear-gradient(to right, rgb(180, 172, 172),rgb(233, 228, 228));
    mask-image: linear-gradient(to top, rgba(209, 198, 198, 0),rgb(192, 173, 173) 20%, rgb(219, 208, 208) 80%, rgb(231, 224, 224)); 
}

body.light-mode .gradient-text{
  background: linear-gradient(to right, #eaf12d, #ffcc00);
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: bold;
  font-size: 1.5rem;
}
/* dark-light mode ends here */

/* logo */
.navbar-brand{
    height: 100px;
    width: 100px;
    border-radius: 50%;
    background-image: url('./images/page_images/image.png');
    background-size: cover;
    background-repeat: no-repeat;
    border: 2px dotted rgb(112, 48, 48);
}

/* mood today */
.dropdown-menu{
    background-color: rgba(255,0,0,0.5);
}
.dropdown-item{
    color: white;
    text-shadow: 2px 2px 2px black;
}
.dropdown-item:hover{
    color: black;
    text-shadow: 2px 2px 2px gray;
}

/* option choices */
.item-container{
    height: 150px;
    width: 94%;
    max-width: 1533px;
    margin-inline: auto;
    position: relative;
    overflow: hidden; 
    margin-top: 20px;
    mask-image: linear-gradient(to right, rgba(0,0,0,0),rgba(0,0,0,1) 20%, rgba(0,0,0,1) 80%, rgba(0,0,0,0)); 
}
@keyframes linear-move{
    to{
        left: -100px;
    }
}

.item{
    height: 100px;
    width: 150px;
    position: absolute;
    left: max(1050px,100%);
    animation: linear-move 28s linear infinite ;
    cursor: pointer;
}

.item1{
    background-image: url('./images/food\ option\ section/stick-icecream.png');
    background-size: contain;
    background-repeat: no-repeat;
    animation-delay: -4s;
}
.item1::after{
    content: "Stick-Ice";
    /* background: red; */
    height: 20px;
    width: 100%;
    color: brown;
    position: absolute;
    bottom: -12px;
    left: 14px;
    font-size: larger;
    font-weight: 600;
}
.item2{
    background-image: url('./images/food\ option\ section/coneoflove.png');
    background-size: contain;
    background-repeat: no-repeat;
    animation-delay: -8s;
}
.item2::after{
    content: "Cone of love";
    /* background: red; */
    height: 20px;
    width: 100%;
    color: pink;
    position: absolute;
    bottom: -12px;
    font-size: larger;
    font-weight: 600;
}
.item3{
    background-image: url('./images/food\ option\ section/shake.png');
    background-size: contain;
    background-repeat: no-repeat;
    animation-delay: -12s;
}
.item3::after{
    content: "Shake shake";
    /* background: red; */
    height: 20px;
    width: 100%;
    color: rgb(137, 79, 89);
    position: absolute;
    bottom: -12px;
    font-size: larger;
    font-weight: 600;
}
.item4{
    background-image: url('./images/food\ option\ section/chicken.png');
    background-size: contain;
    background-repeat: no-repeat;
    animation-delay: -16s;
}
.item4::after{
    content: "Chicken";
    /* background: red; */
    height: 20px;
    width: 70%;
    color: rgb(207, 60, 15);
    position: absolute;
    bottom: -12px;
    font-size: larger;
    font-weight: 600;
}
.item5{
    background-image: url('./images/food\ option\ section/kebabs.png');
    background-size: contain;
    background-repeat: no-repeat;
    animation-delay: -20s;
}
.item5::after{
    content: "Kebabs";
    /* background: red; */
    height: 20px;
    width: 80%;
    color: rgb(201, 50, 50);
    position: absolute;
    bottom: -12px;
    left: 28px;
    font-size: larger;
    font-weight: 600;
}
.item6{
    background-image: url('./images/food\ option\ section/snaks.png');
    background-size: contain;
    background-repeat: no-repeat;
    animation-delay: -24s;
}
.item6::after{
    content: "Snacks";
    /* background: red; */
    height: 20px;
    width: 80%;
    color: rgb(200, 139, 42);
    position: absolute;
    bottom: -12px;
    font-size: larger;
    font-weight: 600;
}
.item7{
    background-image: url('./images/food\ option\ section/tea.png');
    background-size: contain;
    background-repeat: no-repeat;
    animation-delay: -28s;
}
.item7::after{
    content: "Tea";
    /* background: red; */
    height: 20px;
    width: 80%;
    color: rgb(111, 53, 16);
    position: absolute;
    bottom: -12px;
    text-align: center;
    font-size: larger;
    font-weight: 600;
}

/* main section */
.main-container{
    height: max-content;
    width: 98vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 50px;
    padding: 50px 50px;
    /* background-color: red; */
    gap: 50px;
}
/* robot section */
spline-viewer {
  width: 100%;
  height: 100%;
  display: block;
}

.robot-container{
    position: relative;
    height: 600px;
    width: 600px;
    /* background: linear-gradient(0.25turn, white,gray,rgb(71, 69, 69)); */
    border-radius: 10%;
    overflow: hidden;
    flex: 1 3 auto;
    mask-image: linear-gradient(to bottom, rgba(0,0,0,0),rgba(0,0,0,1) 20%, rgba(0,0,0,1) 80%, rgba(0,0,0,0)); 
    display: flex;
    flex-wrap: wrap;
}
.robot{
    position: absolute;
    height: 600px;
    width: 900px;
    flex: 1 1 auto;
    display: flex;
    justify-content: row-reverse;
}

.cover-box{
    height: 30px;
    width: 50px;
    background-color: blueviolet;
}
#bot-message-container{
    height: fit-content;
    width: 350px;
    box-sizing: border-box;
    border-radius: 10px;
    padding: 10px;
    padding-right: 5px;
    margin-top: 100px; 
    /* background: linear-gradient(white,gray,black); */
    background: transparent;
}
.bot-message{ 
    color: #ff4d4d;
    font-size: 3.2rem;
    text-shadow: 2px 1px 1px black;
    display: inline-block;
    /* border-right: 2px solid #ec1123; */
    animation: blink 1s step-start infinite;
}

/* Annimation */
@keyframes typing {
    from {
      width: 0;
      color: transparent;
    }
    to {
      width: 100%;
    }
}

/* @keyframes blink {
  50% { border-color: transparent; }
} */
/* Animation ends here */

@media (max-width: 1000px) {
    .robot-container{
       display: none;
    }
}
@media (min-width: 1000px) and (max-width: 1380px){
    .robot{
       width: 1400px;
    } 
}
/* Robot section ends here */
/* Food Menu section */
.food-menu{
    height: 600px;
    width: 600px;
    border: 5px dotted white;
    border-radius: 10%;
    flex: 1 1 auto;
    padding: 10px 10px 0 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.food-menu-head{
    position: relative;
    height: 15%;
    width: 100%;
    border-radius: 60px 60px 0 0;
    /* background-color: red; */
    color: white;
    display: flex;
    align-items: center;
    gap: 5px;
    padding-left: 20px;
    overflow: hidden;
    font-size: 22px;
}
.head-1{
    position: relative;
    width: 50%;
    flex: 1 1 auto;
}
.icon-container{
    flex: 1 1 auto;
    transform: scale(2);
}
.icon-container .fa-person-biking{
    position: relative;
    animation: movingbike 2s ease-in infinite;
    left: 20px;
    color: red;
}
@keyframes movingbike {
    to{
        left: 130px;
    }
}
@media (max-width: 550px){
    .icon-container .fa-person-biking{
        position: absolute;
        right: 2px;
    }
    .main-container{
        padding: 0px 0px;
    }
}

.food-card-container{
    height: 440px;
    width: 650px;
    padding: 10px;
    overflow-y: auto;
    scrollbar-width: none;
    scroll-behavior: smooth;
    scroll-snap-type: x mandatory;
    /* background: blue; */
    margin-top: 10px;
}
.food-card {

  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
  width: 90%;
  padding: 0 0 0 5px;
  box-sizing: border-box;
  background: rgba(255,0,0,0.4);
  color: white;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(159, 153, 153, 0.1);
  text-shadow: 2px 2px 2px black;
  transition: 1.5s;
  cursor: pointer;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
  text-shadow: 2px 2px 2px black;
}
.food-card:hover{
    scale: 1.15;
    background: wheat;
    color: black;
    text-shadow: 2px 2px 2px rgb(111, 98, 98);
}
.food-info {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: hidden;
  padding-right: 12px;
}

.food-name {
  font-weight: bold;
  font-size: 18px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.food-price-description{
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.food-description {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.food-image {
  width: 120px;
  height: 100px;
  flex-shrink: 0;
  border-radius: 10px;
  overflow: hidden;
}

.food-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
@media (max-width: 480px) {
  .food-card-container{
    width: 300px;
  }
}

.filter-toggle{
    margin-left: 20px;
}
.filter-toggle button{
    background: transparent;
    border: none;
    transition: 0.5s;
}
.filter-toggle button:hover{
    transform: scale(1.2);
}
#all{
    color: rgb(95, 45, 45);
    margin: 5px;
}

#veg{
    color: green;
    margin: 5px;
}

#non-veg{
    color: red;
    margin: 5px;
}

/* footer section */
footer{
    margin-top: 50px;
    background: linear-gradient(to right, rgb(51, 50, 50),black);
    mask-image: linear-gradient(to top, rgba(0,0,0,0),rgba(0,0,0,1) 20%, rgba(0,0,0,1) 80%, rgba(0,0,0,0)); 
}
/* awards section */
.recongnitions{
    display: flex;
    justify-content: center;
    height: 150px;
    background: linear-gradient(to right, rgb(57, 55, 55),black);
}
.awards{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
}

.gradient-text {
  background: linear-gradient(to right, #eaf12d, #ffffff);
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: bold;
  font-size: 1.5rem;
}
/* awards ends */

/* last line */
.connect-msg{
    height: 30px;
    margin: auto;
}
/* last line ends */

/* multiple accounts */
.social-media{
    display: flex;
    justify-content: center;
    padding-top: 20px;
}
.accounts{
    height: 60px;
    margin: auto;
}
.fa-instagram{
    transition: 2s;
}
.fa-instagram:hover{
  background: linear-gradient(45deg, #f58529, #dd2a7b, #8134af);
  background-clip: text;
  -webkit-text-fill-color: transparent;

}
.fa-square-facebook{
    transition: 2s;
}
.fa-square-facebook:hover{
    color: rgb(1, 101, 225);
}
.fa-whatsapp{
    transition: 2s;
}
.fa-whatsapp:hover{
    color: green;
}
.fa-g{
    transition: 2s;
}
.fa-g:hover {
  background: conic-gradient(
    from 45deg,
    #4285F4 0deg 90deg,     /* Red */
    #FBBC05 90deg 180deg,   /* Yellow */
    #34A853 180deg 270deg,  /* Green */
    #EA4335 270deg 360deg   /* Blue */
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}


.fa-linkedin{
    transition: 2s;
}
.fa-linkedin:hover{
    color: blue;
}
/* social accounts ends here */

/* locations of the outlets */
.map-img {
    height: 300px;
    width: 100%;
    background-image: url("./images/page_images/map-of-the-world.jpg");
    background-size: cover;
    background-position: center;
    z-index: -1;
    opacity: 30%;
    position: absolute;
    mask-image: linear-gradient(to right, rgba(0,0,0,0),rgba(0,0,0,1) 20%, rgba(0,0,0,1) 80%, rgba(0,0,0,0)); 
}

.locations{
    display: flex;
    justify-content: center;
    height: 150px;
}
.outlet-loc{
    height: 80px;
    width: 100px;
    size: 30px;
    max-height: max-content;
    padding: 10px 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    font-weight: 700;
    background: linear-gradient(45deg, red, yellow);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    border: 1px dashed red;
    border-radius: 10px;
    transition: 1s;
    cursor: pointer;
}
.outlet-loc:hover{
    border: 2px dashed yellow;
}
/* locations ends here */
.blank{
    height: 60px;
}
/* footer ends */